
body,html {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #777;
}

.base {
  position: relative;
}

.state-detail {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem;
  text-align: right;
}
.state-name {
  font-size: 1.8rem;
  font-weight: 300;
}
.cases {
  font-size: 1.4rem;
  font-weight: 300;
}


.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3rem;
}

.date-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.separator {
  margin: 1rem;
}
.year {
  font-size: 1.8rem;
}
.month {
  font-size: 1.3rem;
}
.button {
  display: flex;
  font-size: 4rem;
  margin-left: -1rem;
}
.button svg {
  cursor: pointer;
}
.slider {
  margin-top: 0.5rem;
  width: 10.5rem;
}
.slider-track {
  height: 20px;
}
.slider-track::before {
  content: '';
  display: block;
  position: relative;
  top: 4px;
  border-bottom: 2px solid black;
}

.slider-thumb {
  background: black;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}



.map {
}
.state {
  fill: #ddd;
  stroke: white;
  stroke-width: 0.5;
}

.bubble {
  fill-opacity: 0.5;
  stroke: #fff;
  stroke-width: .2;
}

.bubble:hover {
  stroke: #333;
  stroke-width: .5;
}

.source {
  font-size: .9rem;
  text-align: right;
}




@media (max-width: 700px) {

  html {
    font-size: 12px;
  }

  .state-detail {
    padding: 1rem;
  }

  .controls {
    position: relative;
    margin-top: -1rem;
    padding: 0;
    padding-left: .5rem;
    padding-bottom: 2rem;
  }

}
